.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}

.sidebar__nav {
  padding: 0;
}

.sidebar__username {
  margin: 0;
  font-size: 20px;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-weight: 700;
}

.sidebar__avatar {
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  width: 56px;
  margin: 0 16px 0 0;
}

.sidebar__nav-item {
  border: none;
  background: transparent;
  outline: none;
  list-style: none;
  opacity: 1;
  font-size: 20px;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-weight: 700;
}
